:root { /* variáveis na raiz */
    --branco-principal: #FFFFFF; 
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #5278a7;
}

body {
    background-color: var(--cor-de-fundo); /* cor de fundo */
    color: var(--branco-principal); /* cor do texto no body */
    font-family: var(--fonte-principal); /* nome da fonte */
    font-size: 16px; /* tamanho da fonte */
    font-weight: 400; /* peso da fonte */
}

* {
    margin: 0; /* margem */
    padding: 0; /* preenchimento */
}

.principal {
    background-image: url("img/Background.png"); /* imagem de fundo */
    background-repeat: no-repeat; /* não espelhar a imagem */
    background-size: contain; /* tamanho do fundo para preencher todo o container */
    align-items: center; /* alinhar ao centro da coluna */
    text-align: center; /* alinha no centro toda a seção */
}

.container {
    height: 100vh; /* altura 100% da tela */
    display: grid; /* separa os elementos por tela (padrão: linhas) */
    grid-template-columns: 50% 50%; /* ocupa o espaço por colunas */
}

.container__botao { 
    background-color: var(--botao-azul); /*cor de fundo do botão */
    border-radius: 5px; /* bordas arredondadas */
    padding: 1em; /* margem interna no botão */
    color: var(--branco-principal); /* cor da escrita no botão */
    display: block; /* ocupar o bloco inteiro */
    text-decoration: none; /* sem decoração do texto */
    margin-bottom: 1em;
}

.botao_secundario { 
    background-color: transparent; /* fundo transparente */
    border: 2px solid var(--branco-principal); /* tamanho da borda e linha sólida com a cor branca */
}

.container__aviso {
    font-size: 12px; /* fonte do aviso */
    color: var(--cinza-secundario); /* cor do aviso */
}

.container__titulo {
    font-size: 28px; /* fonte do titulo */
    font-weight: 700; /* peso do título */
}

.container__imagem {
    margin: 1em 0 2em 0; /* margem para imagem */
}

.container__caixa {
    margin: 0 6em; /* margem da div completa */
}

.secundario__imagem {
    width: 80%; /* ocupação da imagem */
}

.secundario {
    align-items: center; /* centralizando os elementos da coluna */
    margin: 0 10em; /* margem dos elementos da coluna */
}

.descricao__titulo {
    font-weight: 700; /* peso da fonte da descrição */
    font-size: 48px; /* tamanho */
    color: var(--branco-principal); /* cor */
    margin-bottom: 0.1em; /* distância do título e descrição */
}

.descricao__texto {
    color: var(--cinza-secundario); /* cor do texto */
}

.secundario__botao {
    display: inline-block; /* botão ficou organizado em linhas e abaixo do texto */
    margin-top: 1em; /* mergem do botão */
}

.container__descricao {
    padding: 2em; /* espaço interno entre o conteúdo do elemento e a borda */
}

.dispositivos__lista {
    display: flex; /*  organizado um do lado do outro */
    justify-content: center; /* centraliza */
    list-style-type: none; /* nenhum tipo de estilo da lista */
    margin: 5em 0; /* margem das imagens */
}

.dispositivos {
    text-align: center; /* alinhamento do texto */
}

.dispositivos__titulo {
    font-size: 48px; /* tamanho da fonte */
    color: var(--branco-principal); /* cor */
}

.lista__item{
    font-size: 32px; /* tamanho da fonte */
    color: var(--branco-principal); /* cor */
}

.rodape {
    text-align: center; /* alinhamento */
    margin: 5em 3em; /* margem  */
}

.rodape__logo {
    margin: 2em 0em;
}

.rodape__lista {
    display: flex; /* alinha e distribui o espaço entre os itens */
    justify-content: center; /* alinha itens dentro do contêiner flexbox ao centro na horizontal */
    list-style-type: none; /* remove marcadores padrão de uma lista */
    margin-top: 1em; /* margem para afastar o conteúdo acima */
}


.lista__link a{
    text-decoration: none; /* sem decoração nos links */
    color: var(--branco-principal); /* cor */
    margin-left: 1em; /* margem */
}

.rodape__texto {
    color: var(--cinza-secundario); /* cor */
    font-size: 14px; /* fonte */
    margin: 1em 0; /* margem */
}

/* pseudo-classes */

.lista__link a:hover {
    color: var(--botao-azul); /* cor ao passar o mouse em cima do link */
}

.lista__link a:active {
    color: violet; /* cor após clicar no link */
}

.container__botao:hover { /* pseudo-classe para alterar a cor quando passar o mouse em cima do botão*/
    background-color: var(--botao-azul-efeito); /* cor de fundo */
    color: var(--cor-de-fundo); /* cor do texto  */
}


/* responsividade */

@media  screen and (max-width: 768px) { /* condições pra aparelhos com a largura especificada */
    .container {
        display: block; /* organização em blocos */
        background-image: none; /* sem imagem de fundo */
    }
    
    .container__imagem { 
        width: 50vw; /* imagem vai ocupar 50% do tamanho da página (largura) */
    }
    
    .container__caixa { 
        margin: 2em 2em; /* margem para distribuição */
    }

    .secundario {
        margin: 0; /* margem */
        text-align: center; /* tudo centralizado */
    }

    .secundario__imagem {
        width: 50%; /* imagem vai ocupar 50% do tamanho da página (largura) */
    }

    .dispositivos__lista {
        display: block; /* organização em blocos */
    }

    .rodape__lista {
        display: block; /* organização em blocos */
    }

}